/Kuksenko.Kirill/Lab1/pid.pid

/Kuksenko.Kirill/Lab2/.vscode
/Kuksenko.Kirill/Lab2/host_fifo
/Kuksenko.Kirill/Lab2/client_fifo
/Kuksenko.Kirill/Lab2/host_mq
/Kuksenko.Kirill/Lab2/client_mq
/Kuksenko.Kirill/Lab2/host_seg
/Kuksenko.Kirill/Lab2/client_seg

